<div class="flex flex-wrap text-blue">
  <fieldset class="flex flex-grow">
    <legend class="px-6">Please enter your information:</legend>
    <!-- <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0"> -->
    <div class="flex flex-col items-end w-full md:w-1/2 px-3 mb-3 md:mb-0">
      <label class="text-blue uppercase tracking-wide text-xs font-bold">
        <div class="appearance-none block w-full py-3 px-4 leading-tight focus:outline-none focus:bg-white rounded">
          {{ form.name.label }}
          {{ form.name(class="bg-orange-200 text-charcoal rounded-lg") }}
        </div>
      </label>
      {% if form.name.errors %}
      <ul class="text-blue">
        {% for error in form.name.errors %}
        <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <label class="block uppercase tracking-wide text-xs font-bold mb-2">
        <div class="appearance-none block w-full rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
          {{ form.color.label }}
          {{ form.color(class="bg-orange-200 text-charcoal rounded-lg") }}
        </div>
      </label>
      {% if form.color.errors %}
      <ul>
        {% for error in form.color.errors %}
        <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <label class="block uppercase tracking-wide text-xs font-bold mb-2">
        <div
          class="appearance-none block w-full bg-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
          {{ form.quantity.label }}
          {{ form.quantity(class="bg-orange-200 text-charcoal rounded-lg") }}
        </div>
      </label>
      {% if form.quantity.errors %}
      <ul>
        {% for error in form.quantity.errors %}
        <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <label class="block uppercase tracking-wide text-xs font-bold mb-2">
        <div
          class="appearance-none block w-full bg-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
          {{ form.photo_url.label }}
          {{ form.photo_url(class="bg-orange-200 text-charcoal rounded-lg") }}
        </div>
      </label>

      {% if form.photo_url.errors %}
      <ul>
        {% for error in form.photo_url.errors %}
        <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <div>
        <button class="bg-dark-purple hover:bg-blue text-white font-bold py-2 px-4 rounded cursor-pointer"
          type="submit">
          {{ form.submit }}
        </button>
      </div>
    </div>
  </fieldset>
</div>