<!DOCTYPE html>
<html>

<head>
    <name>Fabric and Pattern Tracker</name>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>
    <div id="content">
        {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
        {% endfor %}
        <nav>
            <div>
                <a href="/">Home</a>
                <a href="/patterns">Patterns</a>
            </div>
            <div>
                <a href="/new_fabric">New Fabric</a>
                <a href="/new_pattern">New Pattern</a>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
</body>

</html>