{% extends 'base.html' %}
{% block content %}

<h1>Sewing App</h1>

<p><em>Keep track of your fabrics and patterns.</em></p>

<h2>All Fabrics</h2>

{% for fabric in all_fabrics %}
<div class="fabric">
    <a href="/fabric/{{ fabric.id }}">{{ fabric.name }}</a> -
    {{ fabric.items|length }} items
    <p><strong>Color:</strong> {{ fabric.color }}</p>
    <p><strong>Quantity:</strong> {{ fabric.quantity }} yds</p>
    <img class="fabric-photo" src="{{ fabric.photo_url }}" alt="Fabric Photo">
</div>
{% endfor %}

{% endblock %}