{% extends 'base.html' %}
{% block content %}

<section class="bg-charcoal">
    <!-- <div class="px-6 py-6 mx-auto"> -->
    <div class="felx flex-grow mx-auto max-w-2xl px-6 py-6 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">Sewing App</h1>

        <p>Keep track of your fabrics and patterns.</p>

        <h2 class="text-2xl font-bold tracking-tight text-gray">All Fabrics</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
            {% for fabric in all_fabrics %}
            <div class="flex flex-col">
                <div class="justify-between p-6 lg:mx-6">
                    <div <a href="/fabric/{{ fabric.id }}">
                        <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="{{ fabric.photo_url }}"
                            alt="Fabric Photo">
                        </a>
                    </div>
                    <a href="/fabric/{{ fabric.id }}">{{ fabric.name }}</a> -
                    {% if fabric.patterns|length == 0 %}
                    <strong>0 patterns</strong> - not tagged yet!
                    {% elif fabric.patterns|length == 1 %}
                    <strong>1 pattern</strong> tagged with this fabric
                    {% else %}
                    <strong>{{ fabric.patterns|length }} patterns</strong> tagged with this fabric
                    {% endif %}
                    <p><strong>Color:</strong> {{ fabric.color }}</p>
                    <p><strong>Quantity:</strong> {{ fabric.quantity }} yds</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}