{% extends 'base.html' %}
{% block content %}

<h1>New Pattern</h1>

<form method="POST" action="{{ url_for('main.new_pattern') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>

        {{ form.name.label }}
        {{ form.name }}

        {% if form.name.errors %}
        <ul>
            {% for error in form.name.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {{ form.category.label }}
        {{ form.category }}

        {% if form.category.errors %}
        <ul>
            {% for error in form.category.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {{ form.submit }}
    </fieldset>
</form>


{% endblock %}