{% extends 'base.html' %}
{% block content %}

<h1>Pattern - {{ pattern.name }}</h1>

<h2>Edit Pattern</h2>

<form method="POST" action="{{ url_for('main.pattern_detail', pattern_id=pattern.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>

        {{ form.name.label }}
        {{ form.name }}

        {% if form.name.errors %}
        <ul>
            {% for error in form.name.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}


        {{ form.category.label }}
        {{ form.category }}

        {% if form.category.errors %}
        <ul>
            {% for error in form.category.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {{ form.fabric.label }}
        {{ form.fabric }}

        {% if form.fabric.errors %}
        <ul>
            {% for error in form.fabric.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {{ form.photo_url.label }}
        {{ form.photo_url }}

        {% if form.photo_url.errors %}
        <ul>
            {% for error in form.photo_url.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}