{% extends 'base.html' %}
{% block content %}

<section class="bg-charcoal text-blue">
    <div class="mx-auto max-w-2xl px-6 py-6 sm:px-6 sm:py-10 lg:max-w-7xl lg:px-8">
        <h1 class="text-3xl font-semibold text-gray capitalize lg:text-4xl">View all patterns </h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
            {% for pattern in all_patterns %}
            <div class="flex flex-col">
                <div class="leading-relaxed bg-green justify-between p-6 lg:mx-2">
                    <div>
                        <a href="/pattern/{{ pattern.id }}">
                            <img class="object-cover rounded-lg" src="{{ pattern.photo_url }}" alt="Pattern Photo">
                        </a>
                    </div>
                </div>
                <div>
                    <a href="/pattern/{{ pattern.id }}">{{ pattern.name }}</a> -
                    {% if pattern.fabrics|length == 0 %}
                    <p><strong>0 fabrics</strong> - not tagged yet!</p>
                    {% elif pattern.fabrics|length == 1 %}
                    <p><strong>{{ pattern.fabrics|length }} fabric</strong> tagged with this pattern</p>
                    {% else %}
                    <p><strong>{{ pattern.fabrics|length }} fabrics</strong> tagged with this pattern</p>
                    {% endif %}
                    <p><strong>Category:</strong> {{ pattern.category }}</p>
                </div>
            </div>
            {% endfor %}

            {% endblock %}
        </div>
    </div>
</section>