{% extends 'base.html' %}
{% block content %}

<h1>Pattern - {{ pattern.name }}</h1>
<img src="{{ pattern.photo_url }}" width="250px" height="250px">
<ul>
    <li><strong>Name</strong> {{ pattern.name }}</li>
    <li><strong>Category:</strong> {{ pattern.category }}</li>
    <li><strong>Created by:</strong> {{ pattern.created_by.username }}</li>
</ul>
<form action="{{ url_for('main.add_to_patterns_list', pattern_id=pattern.id) }}" method="POST">
    {{ form.csrf_token }}
    <button type="submit" class="btn-add-to-list">Add to Patterns List</button>
</form>

<h2>Edit Pattern</h2>

<form method="POST" action="{{ url_for('main.pattern_detail', pattern_id=pattern.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>

        {{ form.name.label }}
        {{ form.name }}

        {% if form.name.errors %}
        <ul>
            {% for error in form.name.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}


        {{ form.category.label }}
        {{ form.category }}

        {% if form.category.errors %}
        <ul>
            {% for error in form.category.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {{ form.fabrics.label }}
        {{ form.fabrics(class="form-control", multiple="multiple") }}

        {% if form.fabrics.errors %}
        <ul>
            {% for error in form.fabrics.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {{ form.photo_url.label }}
        {{ form.photo_url }}

        {% if form.photo_url.errors %}
        <ul>
            {% for error in form.photo_url.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}